
/*/obj


/*.suo

/*/bin/Debug

/*/obj/Debug

*.pdb

Debug

bin
.vs/

*.xml

/SocialBoards/SocialBoards/obj/Debug
*.suo

_ReSharper*/

packages/*
!packages/repositories.config
/packages/repositories.config
*.pubxml
*.user
*.userprefs
*/Nlog.config
NLog.config
NLog.config
.idea

*.bak
*/AppSettings.config
